

/* INDICE DE ESTILOS 

0. General / Colores
1. Tipografia / textos
2. Header / cabecera
3. Enlaces / Botones
4. Areas-destacadas


*/

/* 0. Generales */

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: #00bbff;
    --color-acento: #ffffff;
    --color-tercer: #00bbff;
    --color-texto: #23232b;
}


/* 1. Tipografía / textos */

.titulo-principal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--color-principal);
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 18px;
}

.titulo-secundario {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--color-principal);
  font-size: 24px;
  
}
.parrafo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--color-texto);

}
.texto-oculto{
    display: none;
}



/* 2. Header / cabecera */

#cabecera-principal {
    padding: 20px 2% 20px 2%; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* Border: grosor tipo color; */
    border-bottom: 5px solid var(--color-principal);

}






/* 3. Enlaces / Botones */
.boton-principal{
  /* fuente */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--color-principal);
  font-size: 18px;
  /* quito la linea inferior */
  text-decoration: none;
  /* asigno cuerpo por medio del relleno */
  padding: 8px 15px;
  /* animo el paso del mouse */
  transition: all linear 0.3s;
  /* Redondear bordes */
  border-radius: 3px;
  
    

}
.boton-principal:hover{
    color: rgb(255,255,255);
    background: var(--color-principal)
}


.boton-ver-mas {
      /* fuente */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
  /* quito la linea inferior */
  text-decoration: none;
  /* asigno cuerpo por medio del relleno */
  padding: 6px 10px 6px 10px;
  /* animo el paso del mouse */
  transition: all linear 0.3s;
  /* Redondear bordes */
  border-radius: 3px;
   background-color: var(--color-principal);
}
.boton-ver-mas :hover{
   color: rgb(255,255,255);
}

/* responsive */
@media only screen and (max-width: 600px) {
    
.elements-row {

    align-items: center;
    flex-direction: column;
}


/* 2. Header / cabecera */
#cabecera-principal{
    flex-direction: column;
}

/* 3, Enlaces / Botones */
nav[role=navigation] {
    width: 96%;


}

.boton-principal{
    /* Se comporte como bloque*/
    display: block;
    /* Ancho */
    width: 96%;
    /* Margen */
    margin: 5px 2% 0 2%;
    /* Alineo el centro */
    text-align: center;
    /* Borde inferior */
    border-bottom: 1px solid var(--color-acento);
    /* quito borde */
    border-radius: 0;
}

}





/* 5. Areas-destacadas */

#area-destacadas {
    /*top right bottom left */
    padding: 100px 0;
}

.elements-row{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
img{
    width: 100%;

}

.articulo-index{
    /* relleno: top right botoom left */
    padding: 15px;
}
.articulo-index *{
    /* relleno: top right botoom left */
    margin:  0px 0 10px 0;
}

/* 6. Area de experiencia */
#area-multimedia{
    padding: 100px 0;
    background: url(assets/buenos\ aires\ background.jpg) center center no-repeat rgba(0, 0, 0, 0);
    background-size: cover;
}
#area-multimedia video{
    margin: 30px 5%;



}